/*----basic----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

:root{
    --dark_blue: #1F2937;
    --white_text: #F9FAF8;
    --light_grey: #E5E7EB;
    --light_blue: #3882F6;
}

a{
    text-decoration: none;
    color: var(--light_grey);
}

p{
    color: var(--white_text);
}
/*-----header----*/
header, footer{
    background-color: var(--dark_blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    height: 5vh;
}

header > #logo{
    color: var(--white_text);
    font-size: 24px;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    color: var(--light_grey);
}


/*-----footer----*/
footer{
    justify-content: center;
}