/*----basic----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

:root{
    --dark_blue: #1F2937;
    --white_text: #F9FAF8;
    --light_grey: #E5E7EB;
    --light_blue: #3882F6;
}

a{
    text-decoration: none;
    color: var(--light_grey);
}

p, h1, h3, button{
    color: var(--white_text);
    font-size: 18px;
}
/*-----header----*/
header, footer, main{
    background-color: var(--dark_blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    min-height: 5vh;
}

header > #logo{
    color: var(--white_text);
    font-size: 24px;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    color: var(--light_grey);
}

/*-----main----*/

main{
    min-height: 25vh;
}

main > .content{
    min-width: 460px;
    max-width: 50%;  
}

h1{
    font-size: 48px;
}

button{
    background-color: var(--light_blue);
    border-radius: 10px;
    border: none;
    padding: 0.4rem 2rem;
    margin-top: 1rem;
}

.content > img{
    max-width: 100%;
    min-width: 450px;
    height: auto;
}

/*-----information----*/

#information{
    min-height: 25vh;
}

#information > h2{
    text-align: center;
    color: var(--dark_blue);
    font-size: 36px;
    font-weight: 900;
}

#conteiners{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.illustration-container{
    max-width: 200px;
}

.illustration-container > img{
    max-width: 100%;
    height: auto;
}

.illustration-container > p {
    color: var(--dark_blue);
    text-align: center;
}

/*-----main----*/

#quote{
    background-color: var(--light_grey);
    padding: 3rem 10rem;
    min-height: 25vh;
    display: flex;
    justify-content: center;
}


blockquote > p{
 color: var(--dark_blue);
 font-size: 36px;
 font-weight: 300;
 font-style: italic;

}

figcaption{
    text-align: right;
}
/*-----footer----*/

footer{
    justify-content: center;
}